body{
    background-color: #4b80c1;
}
header {
    text-align: center;
    background-color:rgb(123, 177, 209);
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    width: 100%;
    
}

footer { 
    background-color: #326382;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 0;
    width: 100%;
    position: absolute;
    
}

th, td {
    width: 200px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.photoTable {
    width: 200px;
}

a {
    color: rgb(0, 255, 191);
    text-decoration: none;
}

a:hover {
    color: #1100ff;
}