body{
    background-color: #4b80c1;
    margin: 0;
}

header {
    text-align: center;
    background-color:rgb(123, 177, 209);
    font-family: 'Courier New', Courier, monospace;
    top: 0px;
    width: 100%;
    position: absolute;
}



.introduction {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

footer { 
    background-color: #326382;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 0px;
    width: 100%;
}

th, td {
    width: 200px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.photoTable {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
}

a {
    color: rgb(0, 255, 191);
    text-decoration: none;
}

a:hover {
    color: #1100ff;
}

main {
    margin-top: 100px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h3 {
    text-align: center;
}
img {
    width: 200px;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container2{
    display: flex;
    justify-content: space-between;
}
.textFlex1{
    gap: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.photoFlex{
    height: 250px;
    width: 350px;
}
.textFlex2{
    gap: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}