body{
    background-color: #4b80c1;
    margin: 0;
}

header {
    background-color:rgb(123, 177, 209);
    font-family: 'Courier New', Courier, monospace;
    top: 0px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

#textTitle {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 30px;
}

#imageTitle {
    width: 70px;
    margin-right: 40px;
}


.introduction {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

footer { 
    background-color: #326382;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 0px;
    width: 100%;
}

th, td {
    width: 200px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.photoTable {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
}

a {
    color: rgb(0, 255, 191);
    text-decoration: none;
}

a:hover {
    color: #1100ff;
}

main {
    margin-top: 250px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 {
    text-align: center;
}
img {
    width: 200px;
}
.container1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.container2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.photoFlex1{
    height: 250px;
    width: 400px;
    margin-right: 140px;
}

.photoFlex2{
    height: 250px;
    width: 400px;
    margin-left: 140px;
}

.textFlex1{
    gap: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    text-align: center;
    font-size: 20px;}

.textFlex2{
    gap: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
}
#photoFlex1{
    width: 300px;
    height: 350px;
}